/* Older browsers */
html { font-size: 16px; }

/* Modern browsers only need this one */

@media screen and (min-width: 25em){
  html { font-size: calc( 20px + (24 - 20) * (100vw - 400px) / (800 - 400) ); }
}

body {
  background-color: #fff;
  color: #35342f;
  display: flex;
  justify-content: center;
  font-family: 'Vollkorn', serif;
  margin: 0.5em 1.5em;
}

a {
  color: #36AECC;
}

a:visited {
  color: #ccc;
}

#logo {
  margin-left: 0.5em;
}

img.logo {
  height: 2em;
}

article {
  max-width: 37em;
  margin-left: 0.5em;
}

article h1 {
  font-weight: normal;
  color: #36AECC;
}

article h2 {
  font-weight: normal;
}

article h3 {
  font-weight: normal;
}

article.faded a {
  color: #c6e8f1;
}
article.faded a:visited {
  color: #ddd;
}

article:not(.faded) a {
  color: #36AECC;
}
article:not(.faded) a:visited {
  color: #aaa;
}

article.faded {
  color: #ddd;
}

article:not(.faded) {
  color: #000;
}
